body {
  min-width: 300px;
  /* background-image: url("./logo.jpg"); */
  background-size: contain;
  min-height: 400px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.load {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  border-radius: 50%;
  padding: 5px 5px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
.teams {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
}
.t1,
.t2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  padding: 2px;
}
.t1 img,
.t2 img {
  height: 50px;
  width: 50px;
  border-radius: 10%;
}
.score {
  font-size: 11px;
}
.match-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(129, 185, 241, 0.473);
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
}
.status {
  text-align: center;
}
.match-tile p {
  font-weight: 500;
}

.options {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.options input {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid royalblue;
  color: royalblue;
}
.options input::placeholder {
  color: rgba(129, 185, 241, 0.959);
}

.options select {
  border: 2px solid royalblue;
  accent-color: royalblue;
  color: royalblue;
  width: 75px;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(129, 185, 241, 0.959);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: royalblue;
}

.loading {
  width: 100%;
  margin-top: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.animate {
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.options-2 {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center;
  /* justify-content: center; */
}
.options-2 p {
  font-size: 11px;
  padding: 2px 5px;
  background-color: rgba(129, 185, 241, 0.473);
  border-radius: 20px;
}

.live,
.completed {
  cursor: pointer;
}
